@font-face {
    font-family:Montserrat ;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*{font-family: "Montserrat";
overflow: auto;}

#DivContainer{display: flex;
flex: 1 1 1;
flex-direction: column;
flex-wrap: wrap;
border: 5px solid red;
gap: 20px;

}

.divide{ border: 5px solid blue;
    padding: 10px;

}

body{background-color: grey;}

#title{background-color: aliceblue;}

#header{background-color: coral;
    display: flex;
}

#footer{background-color: greenyellow;}

img{width: 100px; height: 100px;}

a{background-color: aliceblue;}

p{ display: flex;
font-size: small;
}

#containerOne{ background-color: yellow;}

#containerTwo{background-color: aqua;}

#containerThree{background-color: indianred;}

#containerFour{background-color: burlywood;}
