@font-face {
    font-family:Montserrat ;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
*{font-family: "Montserrat";}
#DivContainer{display: flex;
flex: 1 1 1;
flex-direction: column;
flex-wrap: wrap;
}
body{background-color: grey;}
h1{color: darkgoldenrod;}
#header{background-color: coral;}
#footer{background-color: greenyellow;}
img{width: 100px; height: 100px;}

#containerOne{ background-color: yellow;}
#containerTwo{background-color: aqua;}
#containerThree{background-color: indianred;}
#containerFour{background-color: burlywood;}
